@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500;600&display=swap');


.loginform {
  --color-primary: rgb(40, 95, 190);
  --color-primary-dark: rgb(20, 54, 110);
  --color-secondary: rgb(145,148,220);
  --color-secondary-dark: rgb(60, 61, 98);
  --color-error:#cc3333;
  --color-success: #4bb544;
  --border-radius: 5px;

  margin: 0;
  height: 100vh;
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background: linear-gradient(to right, var(--color-primary-dark), var(--color-primary)); 
  background-size: cover;
  -webkit-overflow-scrolling: touch;

}

.container{
    width: clamp(400px,50%,600px);
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0,0,0,0.2);
    border-radius: var(--border-radius);
    background: white;
}


.container, 
.font__input, 
.font__button{
    font:500 1rem "Fira sans";   
} 


.form > *:first-child{
    margin-top: 0;
}


.form > *:last-child{
    margin-bottom: 0;
}

.form__title{
    margin-bottom: 2rem;
    text-align: center;
}


.form__message {
    text-align: center;
    margin-bottom: 1rem;
}


.form__message--success{
    color: var(--color-success)
}


.form__message--error{
    color: var(--color-error)
}


.form__input-group{
    margin-bottom: 1rem;
}

.form__input{
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
}

.form__hidden{
    display: none;
}


.form__input:focus{
    border-color: var(--color-primary);
    background: #ffffff;
}

.form__input--error{
    color: var(--color-error);
    border-color:var(--color-error) ;
}

.form__input-error-message{
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: var(--color-error)
}

.form__button{
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: linear-gradient(to right,var(--color-primary-dark), var(--color-primary)) ;
}


.form__button:hover{
    background: linear-gradient(to right, var(--color-secondary-dark), var(--color-secondary));
}

.form__button:active{
    transform: scale(0.98);
}

.form__text{
    text-align: center;
}

.form__link{
    color: var(--color-primary);
    text-decoration: none;
    cursor: pointer;
}

.form__link:hover{
    color: var(--color-secondary)
}

.form__link:active{
    font-size: 15px;
}

select:invalid{
    color  :gray
}

.toggle__input-group{
    
    width: fit-content;
    
}





.toggle__input-group button:active{
    font-size: 1.15;
}


.Eye{
    font-size:1.25rem ;
}


.form__input-wrapper {
    position: relative;
  }

.form__input-wrapper input {
width: 100%;
padding-right: 2.5rem; /* Add padding to avoid overlap with the icon */
box-sizing: border-box; /* Ensure proper padding */
}

.default{
    position: absolute;
    top: 45%;
    right: 0.50rem; /* Adjust as needed */
    transform: translateY(-35%);
    cursor: pointer;
    background: none;
    border: none; 
}

.error{
    position: absolute;
    top: 30%;
    right: 0.50rem; /* Adjust as needed */
    transform: translateY(-35%);
    cursor: pointer;
    background: none;
    border: none; 
}

